<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="row">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">Dyopath</div>
                                <div class="h6 mt-0 title">IT Specialist (05/2022 - Present)</div>
                                <p align="justify">Provide IT support for Royal Caribbean employees utilizing ServiceNow ticketing system at the offices, and remote support. <br>
                                Utilized the BMC remedy ticketing system, in order to assist current users and onboard new hires.<br>
                                Utilized Microsoft Azure, and the JAMF platform in order to configure user’s devices to company policy standards.</p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Help Desk Assistant</li>
                                        <li class="non_list">IT Technician</li>
                                        <li class="non_list">User Management</li>
                                    </ul>
                                    <li class="list">Technologies</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Azure</li>
                                                <li class="non_list">ServiceNow</li>
                                                <li class="non_list">BMC Remedy</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Costumer Support</li>
                                                <li class="non_list">Microsoft Excel</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">Inmyteam</div>
                                <div class="h6 mt-0 title">Software Developer Intern (04/2021 - 06/2021)</div>
                                <p align="justify">Experience creating directives, interceptors, models, and guards in Angular 8.<br>
                                Implementation of PDFTron SDK in to the application developing the .NET application to manage the request and using Angular to create the Front End.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Application Development</li>
                                        <li class="non_list">Web Development</li>
                                    </ul>
                                    <li class="list">Technologies</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">JavaScript</li>
                                                <li class="non_list">Angular 8</li>
                                                <li class="non_list">Mysql</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">.Net</li>
                                                <li class="non_list">C#</li>
                                                <li class="non_list">Git</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">ITETE</div>
                                <div class="h6 mt-0 title">Junior Developer (05/2019 - 10/2020)</div>
                                <p align="justify">Responsible for developing the UI pages using Angular libraries such as Teradata or Angular Material.<br>
                                Implemented Angular Router to enable navigation from one view to the next as customer performs application tasks.<br>
                                Redesigned website to a clean modern minimalistic design with complete mobile responsiveness using Ng-Bootstrap. <br>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Application Development</li>
                                        <li class="non_list">Web Development</li>
                                    </ul>
                                    <li class="list">Technologies</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Angular8</li>
                                                <li class="non_list">JavaScript</li>
                                                <li class="non_list">Mysql</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">PHP</li>
                                                <li class="non_list">Python</li>
                                                <li class="non_list">Git</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>